  <div class="jumbotron-fluid center crim">
    <h1>Sale Clothes By Coordination</h1>
    <%= link_to "Sign Up", signup_path, class: "btn btn-lg signup" %>
  </div>
  
  　<p>ログイン時にご利用ください</p>　
    <p>ログインID | example@railstutorial.org</p>
    <p>パスワード | example</p>