  <div class="jumbotron-fluid center">
    <h1>Sale Clothes By Coordination</h1>
　　<p>さっそくコーディネートする</p>
    <%= link_to "新規登録", signup_path, class: "btn btn-lg signup" %>
  </div>
  
  　<p>ログイン時にご利用ください</p>　
    <p>ログインID | example@railstutorial.org</p>
    <p>パスワード | example</p>