<% provide(:path, root_path) %>
  
  <div class="row">
    <div class="col-md-12">
      <div id="info">
        <div class="crim sec-ttl">
          TIMELINE
          <span class="bar"></span>
        </div>
      </div>
      
      <%= render 'shared/feed' %>
    </div>
  </div>