  <div class="center jumbotron">
    <h1>ようこそSNAP POSTへ</h1>

    <h2>
      これは、
      <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
      のサンプルアプリケーションのホームページです。
    </h2>

    <%= link_to "サインアップ！", signup_path, class: "btn btn-lg btn-primary" %>
  </div>

  <p>ログインID | example@railstutorial.org</p>
  <p>パスワード | example</p>