<% provide(:path, root_path) %>
  
  <div class="row">
    <div class="col-md-12">
      <div class="heading">
        <h1>タイムライン</h1>
      </div>
      <%= render 'shared/feed' %>
    </div>
  </div>