<% provide(:title, 'Contact') %>
<div id="info">
  <div class="crim sec-ttl">
    CONTACT
    <span class="bar"></span>
  </div>
</div>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="https://railstutorial.jp/contact">contact page</a>.
</p>