<% provide(:title, 'All users') %>
<% provide(:search_name, 'user search') %>
<% provide(:path, users_path) %>


<div class="row">
  <div class="col-md-12">
    <div id="info">
      <div class="crim sec-ttl">
        USER
        <span class="bar"></span>
      </div>
    </div>
    
    <%= will_paginate %>
    
    <% unless @users.empty? %>
      <ul class="users">
        <%= render @users %>
      </ul>
    <% else %>
      <p>
        ユーザーが見つかりませんでした。<br>
        お探しのユーザー名をご確認ください。
      </p>
    <% end %>
    
    <%= will_paginate %>
  </div>
</div>