<% provide(:title, 'Post') %>
<% provide(:path, microposts_path) %>

<div class="row">
  <aside class="col-md-12">
    <section class="micropost_form">
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
</div>
