<% provide(:title, 'Post') %>
<% provide(:path, new_micropost_path) %>

<div class="row no-gutters">
  <div class="col-md-12">
    <div id="info">
      <div class="crim sec-ttl">
        NEW POST
        <span class="bar"></span>
      </div>
    </div>
    <div class="micropost_form">
      <%= render 'micropost_form' %>
    </div>
  </div>
</div>
