<% provide(:title, 'Post') %>
<% provide(:path, new_micropost_path) %>

<div class="row no-gutters">
  <div class="col-md-12">
    <div class="heading">
      <h1>投 稿</h1>
    </div>
    <div class="micropost_form">
      <%= render 'micropost_form' %>
    </div>
  </div>
</div>
