@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.crim {
  letter-spacing: 0.1em;
  font-family: 'Crimson Text',"Yu Mincho Medium", "游明朝体", "ヒラギノ明朝 Pro", 
                "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}

.container {
  width: 90%;
  margin: 0 5%;
}

/* bootstrap */
.no-gutters {
  margin: 0;
  padding: 0;
}

.no-gutters {
 [class*="col-"] {
  margin: 0;
  padding: 0;
 }
}



/* universal */
body {
  padding-top: 50px;
  background-color: #F5F5F5;
  font-family: 'Vollkorn', serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.alert {
  margin-top: 20px;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

#info {
  width: 100%;
  margin-top: 100px;
  text-align: center;
  .sec-ttl {
    color: #000000;
    font-size: 28px;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    .bar {
      background-color: #000000;
      display: block;
      width: 40px;
      height: 1px;
      margin: 30px auto 60px;
    }
  }
}


h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

a {
  position: relative;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: #000000
}

a::after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  padding: 0;
  margin: 0;
}

span {
  margin: 0px;
  padding: 0px;
}

ul, li {
  list-style: none;
}

.gravatar {
  border-radius: 50%;
}

.btn {
  border: 1px solid #ccc;
  &:hover {
    opacity: 0.7;
  }
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.field {
  margin-bottom: 10px;
  .img-btn {
    border: none;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/* header */

header {
  padding: 20px 0;
}

#logo {
  float: left;
  margin-right: 20px;
  font-size: 1.7em;
  color: black;
  text-transform: none;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    opacity: 0.7;
    text-decoration: none;
  }
}

.search-form {
  float: left;
  overflow: auto;
  margin: 10px;
  width: 300px;
  .input-group {
    width: 300px;
    .form-control {
      width: 250px;
      border-radius: 5px;
    }
    .btn {
      width: 50px;
      padding: 6px;
      background-color: rgba(0, 0, 0, 0);;
      border: none;
    }
  }
}



#humburger {
  float: right;
  .open, .close {
    display: none;
  }
  input[type="checkbox"] {
    position: absolute;
    right: -50vw;
  }
  .search-form {
    display: black;
  }
} 

.navbar {
  margin: 0;
}

.divider {
  border: splid 1px #000000;
}

nav {
    float: right;
    width: 50%;
    text-align: right;
    padding: 16px 0;
    vertical-align: middle;
  ul li {
    margin-right: 4%;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    a:hover::after {
      bottom: -4px;
      opacity: 1;
      visibility: visible;
    }
    a:hover {
      color: #000000;
      text-decoration: none;
    }
  }
}



/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.gravatar_edit {
  margin-top: 10px;
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
  
}


/* home_not_logged_in */
.jumbotron-fluid {
  height: 600px;
  background-image: url(IMG_5741.jpeg),
                    url(IMG_5740.jpeg),
                    url(IMG_5744.jpeg);
  background-position: left, center, right;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 33.333%, 33.333%, 33.333%;
  h1 {
    padding: 220px 0 40px 0;
    font-size: 50px;
    letter-spacing: 0.05em;
    color: #F5F5F5;
  }
  p {
    color: #F5F5F5;
    margin: 0;
  }
  .signup {
    font-size: 15px;
    color: #F5F5F5;
    background-color: none;
    border: groove 2px #F5F5F5;
    border-radius: 0;
    padding: 10px 30px;
  }
}



/* user index */
// .users {
//   list-style: none;
//   margin: 0;
//   li {
//     overflow: auto;
//     padding: 10px 0;
//     border-bottom: 1px solid $gray-lighter;
//   }
// }

.users {
  width: 100%;
  justify-content: left;
  display: flex;
  flex-wrap: wrap;
  li {
    padding: 10px;
    margin: 10px;
    border: 2px #ddd solid;
    border-radius: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}



/* user show & micropost show*/
.user_info {
  color: black;
  margin: 30px 0;
  .user_info_left {
    margin-right: 60px;
    a {
      float: right;
    }
    .gravatar {
      margin: 20px 0px 20px 0px;
      float: right;
    }
  }
  .user_info_right {
    margin-right: 150px;
    &__top {
      margin: 20px 0 10px 0;
      display: flex;
      h2 {
        color: black;
        font-size: 34px;
        text-align: left;
        margin: 0;
      }
    }
  }
}

#follow_form {
  margin-left: 30px;
  .btn-follow {
    background-color: #000000;
    color: #ffffff;
  }
  .btn-unfollow {
    background-color: #ffffff;
    color: #000000;
  }
}


/* user edit */
.gravatar_edit {
  position: relative;
  width: 100px;
  margin-bottom: 15px;
  img {
    width: 100px;
    height: 100px;
  }
  a {
    position: absolute;
    top: 34px;
    left: 20px;
    padding: 6px 16px;
    border-radius: 4px;
    color: black;
    background-color: #F5F5F5;
    opacity: 0.7;
    
  }
}



/* stats */
.stats {
  font-size: 16px;
  display: flex;
  margin-bottom: 20px;
  padding: 0;
  li {
    list-style: none;
    margin-right: 40px;
    a {
      color: black;
      &:first-child {
        padding-left: 0;
        border: 0;
      }
      &:hover {
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}



/* microposts */
.microposts {
  width: 100%;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  .micropost {
    width: 254px;
    display: inline-block;
    margin: 15px;
    border: 2px #ddd solid;
    border-radius: 5px;
    .coordination img {
      border-radius: 1px;
    }
    .profile {
      padding: 10px;
      background-color: white;
      &__top {
        display: flex;
        margin-bottom: 10px;
        &--img {
          
        }
        &--name {
          padding-top: 14px;
          margin-left: 20px;
          p {
            font-size: 12px;
          }
        }
      }
      &__bottom {
        text-align: right;
        .datetime {
          p {
            font-size: 12px;
          }
        }
      }
    }
  }
}



/* micropost show */
.details_main {
  margin-left: 150px;
  border-radius: 5px;
  border: 2px #ddd solid;
  .details_img {
    img {
      width: 100%;
      border-radius: 1px;
    }
  }
  .details_info {
    height:50px;
    backgraund-color: white;
  }
}
.details_sub {
  padding: 30px;
  margin-left: 25px;
  margin-right: 150px;
  border-radius: 5px;
  border: 2px #ddd solid;
  .img_content {
    margin-bottom: 10px;
    p {
      font-size: 20px;
    }
  }
  .img_content_bottom {
    padding-top: 10px;
    border-top: 1px #ddd solid;
    .datetime {
      p {
        font-size: 15px;
        color: #888;
      }
    }
    a {
      float: right;
      :hover {
        color: #000000;
        opacity: 0.7;
      }
    }
  }
}


/* micropost new */
.micropost_form {
  width: 100%;
  .new_micropost {
    width: 33.33%;
    margin: 0 auto;
    padding: 20px;
    background-color: #F5F5F5;
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
    border-radius: 5px;
    .micropost_btn {
      display: inline-block;
      float: right;
    	.btn {
    	  background-color: rgba(0,0,0,0);
    	  color: #000000;
    	  border-radius: 50%;
    	  border: 1px solid #000000;
         &:hover {
         }
    	}
    }
    .micropost_pick{
      margin-top: 40px;
      &__picture {
        margin-bottom: 10px;
        padding: 0;
        .btn {
          padding: 0;
          border: none;
        }
      }
      &__content {
        textarea {
          margin: 0;
          height: 200px;
          border-radius: 5px;
        }
      }
    }
  }
}
