@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



/* bootstrap */
.no-gutters {
  margin: 0;
  padding: 0;
}

.no-gutters {
 [class*="col-"] {
  margin: 0;
  padding: 0;
 }
}



/* universal */
body {
  padding-top: 50px;
  background-color: #F5F5F5;
  font-family: 'Vollkorn', serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}



/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

.heading {
  text-align: center;
  h1 {
    color: rgba(170, 170, 170, 0.9);
    margin: 30px 0 10px 0;
    padding: 8px 24px;
    font-size: 16px;
    background-color: #f6f7f8;
    border: solid 2px #ddd;
    border-radius: 5px;
    display: inline-block;
  }
}


h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

a {
  color: black;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  padding: 0;
  margin: 0;
}

span {
  margin: 0px;
  padding: 0px;
}

.gravatar {
  border-radius: 50%;
}

.btn {
  border: 1px solid #ccc;
  &:hover {
    opacity: 0.7;
  }
}



/* header */
header {
  background-color: white;
  a {
  color: black;
  }
}

#logo {
  font-family: 'Kaushan Script', cursive;
  float: left;
  margin-right: 20px;
  font-size: 1.7em;
  color: black;
  text-transform: none;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    opacity: 0.7;
    text-decoration: none;
  }
}

.search-form {
  float: left;
  overflow: auto;
  margin: 10px;
  width: 300px;
  .input-group {
    width: 300px;
    .form-control {
      width: 250px;
    }
    .btn {
      width: 50px;
      background-color: white;
      padding: 6px;
      border: none;
    }
  }
}



#humburger {
  float: right;
  .open, .close {
    display: none;
  }
  input[type="checkbox"] {
    position: absolute;
    right: -50vw;
  }
  .search-form {
    display: black;
  }
} 

nav {
  a {
    &:hover {
      color: black;
    }
  }
}



/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.gravatar_edit {
  margin-top: 10px;
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}



/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}



/* home_not_logged_in */
.jumbotron-fluid {
  padding-top: 20px;
  height: 380px;
  background-image: url(IMG_5741.jpeg),
                    url(IMG_5740.jpeg),
                    url(IMG_5744.jpeg);
  background-position: left, center, right;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 380px, 380px, 380px;
  h1 {
    margin: 0;
    padding: 50px 0;
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    letter-spacing: 0.05em;
    color: #F5F5F5;
  }
  p {
    color: #F5F5F5;
    margin: 0;
  }
  .signup {
    font-size: 15px;
    color: #F5F5F5;
    background-color: none;
    border: groove 2px #F5F5F5;
    border-radius: 0;
    padding: 10px 30px;
  }
}



/* user index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}



/* user show */
.user_info {
  color: black;
  margin: 30px 0;
  .user_info_left {
    margin-right: 60px;
    .gravatar {
      margin: 20px 0px 20px 0px;
      float: right;
    }
  }
  .user_info_right {
    h2 {
      color: black;
      font-size: 28px;
      text-align: left;
    }
  }
}



/* user edit */
.gravatar_edit {
  position: relative;
  width: 100px;
  margin-bottom: 15px;
  img {
    width: 100px;
    height: 100px;
  }
  a {
    position: absolute;
    top: 34px;
    left: 20px;
    padding: 6px 16px;
    border-radius: 4px;
    color: black;
    background-color: #F5F5F5;
    opacity: 0.7;
    
  }
}



/* stats */
.stats {
  font-size: 16px;
  display: flex;
  margin-bottom: 20px;
  padding: 0;
  li {
    list-style: none;
    margin-right: 40px;
    a {
      color: black;
      &:first-child {
        padding-left: 0;
        border: 0;
      }
      &:hover {
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}



/* microposts */
.microposts {
  width: 100%;
  padding-left: 0;
  text-align: center;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  .micropost {
    width: 254px;
    display: inline-block;
    margin: 15px;
    border: 2px #ddd solid;
    border-radius: 5px;
    .coordination img {
      border-radius: 1px;
    }
    .profile {
      padding: 10px;
      background-color: white;
      &__top {
        display: flex;
        margin-bottom: 10px;
        &--img {
          
        }
        &--name {
          padding-top: 14px;
          margin-left: 20px;
          p {
            font-size: 12px;
          }
        }
      }
      &__bottom {
        text-align: right;
        .datetime {
          p {
            font-size: 12px;
          }
        }
      }
    }
  }
}



/* micropost show */
.details_main {
  margin-left: 150px;
  border-radius: 5px;
  border: 2px #ddd solid;
  .details_img {
    img {
      width: 100%;
      border-radius: 1px;
    }
  }
  .details_info {
    height:50px;
    backgraund-color: white;
  }
}
.details_sub {
  padding: 30px;
  margin-left: 25px;
  border-radius: 5px;
  border: 2px #ddd solid;
  .img_content {
    margin-bottom: 10px;
    p {
      font-size: 20px;
    }
  }
  .datetime {
    padding-top: 10px;
    border-top: 1px #ddd solid;
    p {
      font-size: 15px;
      color: #888;
    }
  }
}



/* micropost new */
.micropost_form {
  margin-top: 10px;
  .new_micropost {
    display: flex;
    .micropost_pick{
      margin-right: 20px;
      &__picture {
        margin-bottom: 10px;
        padding: 0;
        .btn {
          padding: 0;
          border: none;
        }
      }
      &__content {
        textarea {
          width: 400px;
          height: 200px;
        }
      }
    }
    .micropost_btn {
      position: relative;
    	height: 239px;
    	.btn {
    	  width: 75px;
    	  padding: 6px 16px;
    	  color: white;
    	  background-color: black;
    	  position: absolute;
	      bottom: 0;
    	}
    }
  }
}



// @media screen and (max-width: 1200px)　{
//   .none_humburger {
//     display: none;
//   }
//   .open, .close {
//     display: block;
//   }
  
// }