<footer class="footer">
  <small>
    <div class="ttl crim">
      <%= link_to "SNAP MARKET", root_path, id: "logo" %>
    </div>
  </small>
  <nav class="crim">
    <ul>
      <li><%= link_to "ABOUT", about_path %></li>
      <li><%= link_to "HELP", help_path %></li>
      <li><%= link_to "CONTACT", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">NEWS</a></li>
    </ul>
  </nav>
</footer>